#this requirement file is for Python 3.10

Sphinx==5.3
sphinx-book-theme==1.0.0
sphinx_design==0.3.0
pydata-sphinx-theme==0.13.0
sphinxcontrib.htmlhelp
Jinja2
nbconvert
MarkupSafe
ablog
sphinx_plotly_directive
sphinx-copybutton
nbsphinx
sphinxcontrib-programoutput
sphinxcontrib-contentui
sphinxcontrib-ansi
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
traitlets
nbformat
numpy<2.0
ml_dtypes>=0.5.0
sphinxcontrib-googleanalytics
ipython
sphinxcontrib.datatemplates
sphinxcontrib.spelling
sphinx-tabs
exhale
